#article-container {
    display: flex;
    flex-direction: column;

    margin-top: 200px;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
h4 {
    color: #003366;
}

.articleCard {
    margin-bottom: 50px;
}

.articleCard h1 {
    text-align: center;
}

#article-container {
}

.article-image {
    width: 400px;
}

@media (width<900px) {
    #article-container {
        margin-top: 1rem;
    }
    h2 {
        font-size: 1em;
    }
}
