#leaguelogo {
    max-height: 200px;
}

h1 {
    font-size: 50pxpx;
}

h2 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

.products-container {
    font-family: 'Poppins', sans-serif;
    padding: 50px 20px;
    color: #333333; /* White text color */
    max-width: 60%;
    margin: 50px auto;
    text-align: center;
}

.product-section {
    display: inline-flex;
    justify-content: flex-start;
    z-index: 0;
}

.section-text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
    z-index: 0;
    font-size: 20px;
}

.section-img {
    max-height: 400px;
    border-radius: 70px;
    z-index: 2;
    margin-bottom: 50px;
}
.product-image {
    height: 400px;
    object-fit: 300px;
    margin-top: 15px;
    margin-left: 10px;
    transition: 1s all;
    z-index: 2;
    /* position: relative; */
}

.section-img:hover .product-image {
    transform: scale(1.25);
}

#section2 {
    flex-direction: row-reverse;
}

#section2 .section-text {
    margin-left: 10%;
}

#section3 .section-text {
    text-align: center;
    margin: auto;
    color: rgba(255, 175, 75, 0.8);
}

#section3 .section-text p {
    font-size: 90px;
    font-weight: bold;
    margin: 5px;
}

/* banner fly in */

#section3 {
    width: 166%;
    margin-left: -33%;
    scale: 0.01;
    opacity: 0;
    /* border-radius: 1px; */
    animation: becomeBlack linear forwards;
    animation-timeline: scroll(root);
    animation-range: normal 40%;
}

@keyframes becomeBlack {
    to {
        background: rgba(0, 0, 0, 0.9);
        scale: 1;
        opacity: 1;
        border-radius: 10px;
    }
}

#section4 .section-text {
    margin-right: 5%;
}

.KPI-section p {
    font-size: 30px;
}

.charts {
    max-height: 500px;
    min-width: 500px;
}
/* #chart1 {
    max-height: 600px;
    min-width: 400px;
}

#chart2 {
    max-height: 600px;
    min-width: 400px;
}
#chart3 {
    max-height: 600px;
    min-width: 400px;
} */

.collaboration {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-size: 25px;
}

@media (width < 900px) {
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
        /* display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center;  */
    }
    .products-container {
        margin-top: 0px;
    }

    #product-intro {
        /* display: table-caption; */
        flex-direction: column;
        align-items: space-around;
    }
    #product-intro h2 {
        width: 150%;
        margin-left: -70px;
    }

    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 10px;
    }
    h4 {
        font-size: 25px;
        margin: 5px 0px 5px 0px;
    }
    p {
        text-align: left;
        margin: 5px 0px 0px 0px;
        font-size: 15px;
    }
    #leaguelogo {
        max-height: 100px;
    }
    .product-image {
        max-height: 250px;
    }

    .product-section {
        flex-direction: column;
        width: 140%;
        margin-left: -60px;
    }
    .section-text {
        /* max-width: 100vh; */
        flex-direction: column;
        /* text-align: center; */
        align-items: center;
    }

    #section2 {
        flex-direction: column;
    }
    #section3 {
        animation-range: normal 50%;
    }

    #section4 img {
        max-height: 200px;
    }
    .charts {
        align-items: center;
        /* max-width: 400px; */
    }
    #section3 .section-text p {
        text-align: center;
        font-size: 40px;
    }

    #section3 .section-text h1 {
        font-size: 20px;
    }
    .KPI-section p {
        font-size: 15px;
        margin-bottom: 10px;
        text-align: left;
    }
    .collaboration {
        font-size: 10px;
        text-align: left;
    }
    footer {
        text-align: center;
        margin: auto;
    }
    footer p {
        margin-bottom: 10px;
    }
}
